<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>$title$</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="container">
            <div id="top-container">
                <header>
                    <span class="logo">
                        <a href="/">Haxkell</a>
                    </span>
                    <nav>
                        <a class="nav-link" href="/contact.html">Contact</a>
                        <a class="nav-link" href="/projects.html">Projects</a>
                    </nav>
                </header>
                <h1>$title$</h1>

                $if(subtitle)$
                <h2>$subtitle$</h1>
                $endif$
                <div id="datetags">
                    $if(date)$
                    <span id="date">$date$</span>
                    $endif$

                    $if(tags)$
                    | <span id="tags">$tags$</span>
                    $endif$
                </div>
            </div>

            <main role="main">
                $body$
            </main>


            <div id="footer">
                <div class="copyright">&copy; Timothy Copeland 2022</div>
            </div>
        </div>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </body>
</html>
